<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {{rsd_link|safe}}
        <title>{{site.name}}{% if title %} - {{title}}{% endif %}</title>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "site-feed" %}" />
        <style type="text/css">
            * {
                font-family: Helvetica, Arial, sans-serif;
            }
            #container {
                margin:0 auto;
                width: 950px;
            }
    
            #header {
                border-top: 3px solid gray;
                border-bottom: 2px solid silver;
            }
    
            #content {
            }
    
            .post {
                margin: 1pc 2pc;
                border-bottom: 1px dotted silver;
            }
    
            .post.excerpt {
                background-color: #f6f6f6;
            }
    
            label {
                display: inline-block;
                width: 100px;
                vertical-align: top;
            }
    
            .paginator { padding: .25em .25em .6em .25em; }
            .paginate-pages { padding: 2px 3px; border: 1px solid #ddd; cursor: pointer; text-decoration: underline; }
            .paginate-first, .paginate-last { padding: 2px 6px; border: 1px solid #ddd; font-weight: bold; }
            .paginate-previous, .paginate-next { padding: 2px 3px; border: 1px solid #ddd; }
            .paginate-link { padding: 2px 4px; border: 1px solid #ddd; }
            .paginate-current { padding: 2px 4px; border: 1px solid #ddd; font-weight: bold; background:#417690; color:#f4f379; }
        </style>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1>{{site.name}}</h1>
            </div>
            <div id="content">
    {% block content %}
    <h1>We're sorry, reality is out of service at the current time.</h1>
    {% endblock %}
            </div>
        </div>
    </body>
</html>
