{% extends "milton/base.html" %}
{% block content %}
<div class="page">
    <h2>
        <a href="{{object.get_absolute_url}}">{{object.title}}</a>
    </h2>
    <p class="body">
        {{object.formatted_content}}
    </p>
</div>
{% endblock %}
