{% extends "milton/base.html" %}
{% load pager %}
{% block content %}
<div class="story-list">
{% for object in page.object_list %}
{% include "milton/story.html" %}
{% endfor %}
</div>
{% if page.has_other_pages %}
<ul class="pager">
{% pager 5 %}
</ul>
{% endif %}
{% endblock %}