{% extends "milton/base.html" %}

{% load pager %}
{% block content %}
    <div class="story-list">
        {% for object in page_obj %}
        {% include "milton/story.html" %}
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
    <ul class="pager">
        {% pager 5 %}
    </ul>
    {% endif %}
{% endblock %}