            <div class="story {% if options.excerpts %}excerpt{% else %}full{% endif %}">
                <h2>
                    <a href="{{object.get_absolute_url}}">{{object.title}}</a>
                </h2>
                <div class="byline">
                    By <span class="author">{{object.user.username}}</span> on <span class="date">{{object.date_published|date}}</span>
                </div>
            {% if options.excerpts %}
                <div class="excerpt">
                    {{object.formatted_excerpt}}
                </div>
            {% else %}
                <div class="body">
                    {{object.formatted_content}}
                </div>
                {% if object.show_metadata %}
                <p class="post-info">
                    {% if object.tags.count %}
                    <p /><span class="tags"><span class="post-item-key">Tags:</span> <span class="post-item-value">{% for tag in object.tags.names %}<a href="{% url "tag" tag %}" rel="tag">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span></span></p>
                    {% endif %}
                </p>
                {% endif %}
            {% endif %}
            </div>
