{% load tagging_tags %}
{% tag_cloud_for_model milton.Story as tag_cloud with min_count=10 steps=5 %}
<div class="cloud" style="width: 300px">{%for tag in tag_cloud%}
    <span class="tag" style="font-size:{{tag.font_size}}ex; white-space: nowrap;"><a href="{% url tag tag.name %}">{{tag.name}}</a></span>{%endfor%}
</div>
